<navbar></navbar>
<div class="container" style="margin-top: 75px">
  <h1>Pools Admin</h1>
  <div class="row">
    <button class="btn btn-lg btn-primary pull-right" ng-click="$ctrl.openAdd()">Nouveau sondage</button>
  </div>
  <div class="row" style="margin-top: 25px; margin-bottom: 50px;">
    <div class="panel panel-default" ng-repeat="item in $ctrl.pools | orderBy:'-'">
      <div class="panel-body">
        <strong>{{ item.name }}</strong>
        <em ng-if="item.status">(Active)</em>
        <em ng-if="!item.status">(Close)</em>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" ng-click="$ctrl.openMessages(item)">Messages</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h1>Ajouter un sondage</h1><br>
      <form name="addForm" ng-submit="$ctrl.add(addForm.$valid)" novalidate>
        <input id="name" type="text" name="name" ng-model="name" placeholder="Nom" ng-minlength="4" required>
        <div ng-show="addForm.name.$touched">
          <span ng-show="addForm.name.$invalid && !addForm.name.$pristine" class="alert-danger">Minimum de 5 charactères</span>
        </div>
        <input type="submit" name="login" ng-disabled="addForm.$invalid" class="login loginmodal-submit" value="Envoyer">
      </form>
      <div class="login-help">
        <p class="alert-danger"><strong>{{ $ctrl.addError }}</strong></p>
      </div>
    </div>
  </div>
</div>
<footer></footer>
