<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h1>Login</h1><br>
      <form name="loginForm" ng-submit="$ctrl.login(loginForm.$valid)" novalidate>
        <input id="login" type="email" name="login" ng-model="login" placeholder="Login" required>
        <div ng-show="loginForm.login.$touched">
          <span ng-show="loginForm.login.$invalid && !loginForm.login.$pristine" class="alert-danger">Veuillez votre Login</span>
        </div>
        <input id="password" type="password" name="password" ng-model="password" placeholder="Password" required>
        <div ng-show="loginForm.password.$touched">
          <span ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="alert-danger">Veuillez votre Password</span>
        </div>
        <input type="submit" name="login" ng-disabled="loginForm.$invalid" class="login loginmodal-submit" value="Login">
      </form>
      <div class="login-help">
        <p class="alert-danger"><strong>{{ $ctrl.loginError }}</strong></p>
      </div>
    </div>
  </div>
</div>
